/*-----------------------------------------------------------------------------------
This Template made for Mahmud's Personal website
-----------------------------------------------------------------------------------*/

html,
body {
    height: 100%;
    font-family: sans-serif;
}
.floatleft {
    float: left
}
.floatright {
    float: right
}
.alignleft {
    float: left;
    margin-right: 15px;
    margin-bottom: 15px
}
.alignright {
    float: right;
    margin-left: 15px;
    margin-bottom: 15px
}
.aligncenter {
    display: block;
    margin: 0 auto 15px
}
a:focus {
    outline: 0px solid
}
img {
    max-width: 100%;
    height: auto
}
.fix {
    overflow: hidden
}
p {
    font-family: "Oxygen",sans-serif;
    letter-spacing: 0.05em;
    line-height: 23px;
    margin: 0 0 15px;
}
h1,h2,h3,h4,h5,h6 {
    margin: 0 0 20px;
    font-family: "Oxygen",sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}
a {
    transition: all 0.3s ease 0s;
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
a:active,a:hover {
    outline: 0 none;
}
ul {
    list-style: outside none none;
    margin: 0;
    padding: 0
}
.clear {
    clear: both
}
body {
    background: #fff no-repeat scroll 0 0;
    color: #6d6d6d;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: normal;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    overflow-x: hidden;
    position: relative;
}
.home {
    display: table;
    width: 100%;
    height: 100%;
}
.home-area {
    display: table-cell;
    vertical-align: middle;
}

#home h1{
    color: #fff;
    font-family: "Lato",sans-serif;
    font-size: 44px;
    font-weight: 700;
    text-shadow: 4px 4px 3px #000;
    text-transform: uppercase;
}
.with-background {} .browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
.home-section {
    height: 100%;
    color: #fff;
}
.home-section:before {
    background: #000;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.70;
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
}
.navbar-default {
    transition: all 0.3s ease 0s;
}
.navbar {
    padding: 15px 0;
}
.navbar-nav > li > a {
    color: #fff;
    font-family: helvetica;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1px;
    transition: all 0.3s ease-in-out 0s;
    text-transform: uppercase;
}
.nav > li > a:hover,.nav > li > a:focus {
    color: #5abc7c;
    text-decoration: none;
    background: none;
}

.navbar-brand {
    font-size: 34px;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
    color: #fff;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    background-color: transparent;
    color: #62c483;
}


.navbar-brand:hover {
    color: #5abc7c;
}
.navbar-default .navbar-nav > .active > a,.navbar-default .navbar-nav > .active > a:hover,.navbar-default .navbar-nav > .active > a:focus {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    color: #5abc7c;
    text-decoration: none;
}
nav.menu-item div.navbar-collapse.collapse.in ul.scroll-to > li {
    background: rgba(255, 255, 255, 0.7) none repeat scroll 0 0;
    border-bottom: 1px solid #ddd;
}
nav.menu-item div.navbar-collapse.collapse.in ul.scroll-to > li a {
    color: #353535;
}
nav.menu-item div.navbar-collapse.collapse.in ul.scroll-to > li a:hover,nav.menu-item div.navbar-collapse.collapse.in ul.scroll-to > li a:focus {
    color: #4c8e00;
}
.menu-item .navbar-toggle {
    border-color: #ddd;
    background-color: #fff;
}
.menu-item .navbar-toggle .icon-bar {
    background-color: #888;
}
.carousel-indicators {
    bottom: 0;
}
.carousel-inner {
    height: 350px;
}
.carousel-control.left,.carousel-control.right {
    background: none !important;
}
#about {
    padding-top: 70px;
}

#about h3{
    text-transform: uppercase;
    margin-bottom: 20px;
}

.accordion-group {
    background-color: #edeef0;
    margin-bottom: 10px;
}

.accordion-group a.accordion-header {
    color: #8e9095;
    display: block;
    font-size: 16px;
    padding: 7px 18px;
    text-transform: uppercase;
    text-decoration: none;

}

.accordion-group .accordion-body {
    padding: 20px 20px 7px;
}

.accordion-body p {
    line-height: 20px;
}

.accordion-group a.accordion-header:hover {
    background-color: #76d898;
    color: black;
    text-decoration: none;
}

label {
    display: inline-block;
    font-weight: bold;
    margin-bottom: 5px;
    max-width: 100%;
}

.progress-bar-block .value {
    float: right;
}   

.progress {
    box-shadow: none;
    height: 12px;
}

.progress-bar {
    background-color: #76d898;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.15) inset;
    color: #76d898;
    float: left;
    font-size: 12px;
    height: 100%;
    line-height: 20px;
    text-align: center;
    transition: width 0.6s ease 0s;
    width: 0;
}

#service {
    /*background-image: url("../img/bg_service.jpg");*/
}
.home-section {
    height: 100%;
    color: #fff;
}
.home-section:before {
    background: #000;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.70;
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
}
.navbar-default {
    transition: all 0.3s ease 0s;
}
.navbar {
    padding: 15px 0;
}
.navbar-nav > li > a {
    color: #fff;
    font-family: helvetica;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1px;
    transition: all 0.5s ease-in-out 0s;
    -webkit-transition: all 0.5s ease-in-out 0s;
    text-transform: uppercase;
    position: relative;
}

.navbar-nav > li > a:after {
    background: #62c483;
    position: absolute;
    left:0;
    bottom:5px;
    height:0px;
    content: '';
    width:100%;
    transition: ease .1s;
    -webkit-transition: ease .1s;
}
.nav > li > a:hover,.nav > li > a:focus {
    color: #62c483;
    text-decoration: none;
    background: none;
}

.navbar-nav > li > a:hover:after {
    height:4px;
}
.navbar-brand {
    font-size: 34px;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
    color: #ced123;
}
.navbar-brand:hover {
    color: #afb21c;
}
.navbar-default .navbar-nav > .active > a,.navbar-default .navbar-nav > .active > a:hover,.navbar-default .navbar-nav > .active > a:focus {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    color: #62c483;
    text-decoration: none;
}
nav.menu-item div.navbar-collapse.collapse.in ul.scroll-to > li {
    background: rgba(255, 255, 255, 0.7) none repeat scroll 0 0;
    border-bottom: 1px solid #ddd;
}
nav.menu-item div.navbar-collapse.collapse.in ul.scroll-to > li a {
    color: #353535;
}
nav.menu-item div.navbar-collapse.collapse.in ul.scroll-to > li a:hover,nav.menu-item div.navbar-collapse.collapse.in ul.scroll-to > li a:focus {
    color: #4c8e00;
}
.menu-item .navbar-toggle {
    border-color: #ddd;
    background-color: #fff;
}
.menu-item .navbar-toggle .icon-bar {
    background-color: #888;
}
.carousel-indicators {
    bottom: 0;
}
.carousel-inner {
    height: 350px;
}
.carousel-control.left,.carousel-control.right {
    background: none !important;
}
#about {
    padding-top: 70px;
    padding-bottom: 30px;

}

#about h3{
    text-transform: uppercase;
    margin-bottom: 20px;
}

.accordion-group {
    background-color: #edeef0;
    margin-bottom: 10px;
}

.accordion-group a.accordion-header {
    color: #8e9095;
    display: block;
    font-size: 16px;
    padding: 7px 18px;
    text-transform: uppercase;
    text-decoration: none;

}

.accordion-group .accordion-body {
    padding: 20px 20px 7px;
}

.accordion-body p {
    line-height: 20px;
}

.accordion-group a.accordion-header:hover {
    background-color: #76d898;
    color: black;
    text-decoration: none;
}

label {
    display: inline-block;
    font-weight: bold;
    margin-bottom: 5px;
    max-width: 100%;
}

.progress-bar-block .value {
    float: right;
}   

.progress {
    box-shadow: none;
    height: 12px;
}

.progress-bar {
    background-color: #76d898;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.15) inset;
    color: #76d898;
    float: left;
    font-size: 12px;
    height: 100%;
    line-height: 20px;
    text-align: center;
    transition: width 0.6s ease 0s;
    width: 0;
}

.container-fluid{
    padding:0px;
}

.service_area{
    padding-top: 80px;
    padding-bottom: 40px;
    color:#fff; 
    background:#000;

}

.service-image img {
    height: 330px;
    width: 450px;
}

.service-content{
    background: #fff;
    color:#000;
    padding: 25px;
}

.service-content h4{
    font-weight: 700;
    margin-bottom: 5px;
    margin-top: 0;
    transition: all 0.3s ease-in-out 0s;
}

/******************* For Type.js *********************/

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
.typed-fade-out{
    opacity: 0;
    animation: 0;
    transition: opacity .25s;
}

/************************ End Type.js ***********************/

a.image-link:hover::before {
    background: rgba(0, 0, 0, 0.3) none repeat scroll 0 0;
    transition: all 0.7s ease 0s;
}
a.image-link::before {
    background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transition: all 0.5s ease 0s;
    width: 100%;
}

a.image-link {
    display: block;
    position: relative;
}